
a{
    color: white;
}


/* SHOPNAV */
.shopNav{
    display: flex;
    align-items: center;
}



/* SIDEBAR ADD CART */
#addCart{
   padding: 10px;
    color: white;
    
}


/* WAGR ITEM DIV */
.wagrItemDiv{
    width: 100vw;
    height: 80vh;
    /* background-color: crimson; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wagrItemOne{
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: 6em
}

.wagrPicBox{
    height: 3.5em;
    width: 3.5em;
    border-radius: 7px;
    border: 1px solid #474949;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
    cursor: pointer;
}
.wagrPicBox > img{
    width: 3em;
}


.wagrItemTwo{
    display: grid;
    grid-template-rows: 1fr 2fr 1.5fr;
    padding-top: 1em;
}

.wagrdetailBox{
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.wagrDetail{
    display: flex;
    padding-right: 20em;
}

.wagrDetail > div{
    display: flex;
    flex-basis: 50%;
    cursor: pointer;
}

.featureBox > span{
    margin: 2px;
}

.addCartDiv{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.quantityBox{
    height: 2.2em;
    width: 4em;
    border-radius: 10px;
    margin-left: 1em;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1.5px solid #2ab1c3;
}








/* WAGR FEATURES */
.wagrFeatures{
    height: 84vh;
    width: 100vw;
    background-color: rgba(42, 177, 195, 0.09);
    margin: 1.5em 0;
    padding-bottom: 2em;
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr 1fr;
    margin-top: 4em;
}

.wagrFeatureHead > div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ab1c3;
    color: white;
    cursor: pointer;
}

.detailDiv{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.detailBottom{
    display: grid;
    grid-template-columns: 1.1fr 1fr 1.1fr;
}

.detailBottom > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}






/* WAGR QUESTIONS */
.wagrQuestions{
    height: 43vh;
    width: 100vw;
    display: flex;
    padding-left: 6em;
}

.wagrQuestMiddle{
    padding: 0 3em;
    height: 45%;
    margin-left: 9em;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#EmailUs{
    border-color: #2ab1c3;
    color: #2ab1c3;
}
#EmailUs:hover{
    color: white;
}


#Email{
    display: flex;
    justify-content: center;
    align-items: center;
}

#EmailInput{
    padding: 10px;
  border-radius: 1.2em;
  height: 1.5em;
  width: 25vw;
  text-indent: 1em;
  outline: none;
  background-color: white;
  color: black;
  border: 1px solid #888;
}





/* SIDEBAR */
#sidebar{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.4fr 0.6fr 0.4fr 1fr;
    /* background-color: crimson; */
    padding-top: 2em;
}

.wagrBox{
    display: flex;
}

.wagrOffer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #474949;
}

.wagrCheckout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7px;
    /* background-color: teal; */
}

.wagrCheckout > div{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}

.wagrCheckout > div >div{
    display: flex;
    justify-content: space-evenly;
    color: #474949;
}

.wagrCheckout > div > div > span{
    flex-basis: 50%;
    display: flex;
}

#Checkout{
    background-color: #fed68d;
    border: 1px solid #fed68d;
    color: #474949;
}

#Checkout:hover{
    background: #fed68d;
    border: 1px solid #fed68d;
    color: #474949;
}