html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  font-family: "BrandonGrotesque-Bold";
}
a {
  color: white;
}














/* NAVBAR */
.navbar {
  width: 100vw;
  height: 80px;
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
}

.navbar > div {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  padding: 2em;
  font-size: 17px;
}

.navLogo {
  /* background-color: teal; */
}
.navDetails {
  /* background-color: yellow; */
  flex-direction: row-reverse;
}

.navDetails > a {
  margin: 1em;
  text-decoration: none;
  cursor: pointer;
  color: #888;
}

.button {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #2ab1c3;
  font-size: 17px;
  background: none;
  padding: 12px 35px 12px 35px;
  border: solid #2ab1c3 2px;
  text-decoration: none;
  margin: 2em;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: white;
  border-color: #3cb0fd;
}

.hamMenu{
  margin: 25px 0px 0 60px;
  font-size: 26px; 
  display: none;
}

.menu{
  display: block;
  text-align: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  display: none;
}

.menu > a{
  color: #474949;
  text-decoration: none;
  padding: 1.5em 0;
  font-size: 20px;
  margin-top: -1em;
  display: block;
}









/* LandingPage Div */
.topContainer {
  width: 100vw;
  height: 80vh;
  /* background-color: rgba(0, 0, 0, 0.05); */
  display: grid;
  grid-template-rows: 94% 6%;
  grid-template-columns: 65% 35%;
  padding-bottom: 10px;
}

.topDetails {
  grid-row: 1/2;
  grid-column: 1/2;
  /* background-color: #2ab1c3; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.topDetails > div {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  /* background-color: yellow; */
}

.topImage {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.topImage > img{
  width: 23vw;
}

.topArrow {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* TOP CONTAINER ITEMS */
.topContainerHead {
  color: #474949;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  /* background-color: orangered; */
}

.topContainerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #474949;
  font-size: 25px;
  padding: 1em;
  /* background-color: teal;     */
}

.topContainerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: crimson; */
}
.containerBtn {
  margin: 10px;
}
.learnMore {
  color: #474949;
  border: solid #474949 2px;
}
.buyNow {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: white;
  border-color: #3cb0fd;
}

.topContainerPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  /* background-color: violet; */
}
.topContainerPrice > div {
  margin: 10px;
}
#price {
  color: #2ab1c3;
}













/* HOW IT WORKS DIV */
.workingDiv {
  height: 80vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50% 10% 40%;
  grid-template-columns: auto;
  padding:1em;
  padding-bottom: 2em;
  background-color: rgba(42, 177, 195, 0.09);
}

.wagrBand {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: teal; */
}

.wagrBandDetails {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  color: #474949;
  font-size: 25px;
  /* background-color: yellow; */
}

.wagrBandAnimations {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  margin-top: 3em;
  /* background-color: teal; */
}

.wagrBandAnimations > div {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* text-align: center; */
}

.wagrBandAnimations > div > div {
  color: #474949;
  font-size: 25px;
}













/* NEVER LOSE DOG DIV */
.neverLoseDogDiv {
  position: relative;
  width: 100vw;
  height: 75vh;
  background: url('../assets/home/lost-dog.png');
  background-size: cover;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  padding: 1em;
}

.loosedogBg{
 background-color:rgba(48, 167, 191, 0.85)
}

.locationScreenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#location-screen {
  margin-top: 5em;
}

.neverLoseDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.neverLoseDetails > div {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  margin-top: 2em;
  margin-right: 3em;
  /* background-color: yellow; */
}
.neverLoseBtn {
  color: white;
  border: solid white 2px;
}

.gpsDetails {
  font-size: 25px;
  text-align: center;
  margin: 4px;
  padding: 1em;
  color: white;
}












/* KEEP DOG FIT DIV */
.dogFitDiv {
  height: 75vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  padding: 2em;
}

.dogFitImage {
  /* background-color: tomato; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dogFitDetails {
  /* background-color: teal; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.dogFitDetails > div {
  /* background-color: yellow; */
  padding: 1em;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
}

.dogfitDetailsDiv {
  /* background-color: tomato; */
  font-size: 20px;
  padding: 2em 4em;
  padding-bottom: 0;
}







/* TRACK DOG'S WALK */
.trackDogWalk {
  background: url("../assets/home/dog-walk-3.jpg");
  background-size: cover;
  position: relative;
}

.transparentDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(71, 73, 73, 0.93);
  opacity: 0.77;
  z-index: 0;
}







/* FORM YOUR PACK */
.formYourPack {
  background: url("../assets/home/group-3.png");
  background-size: cover;
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% 60%;
  padding: 2em;
}

.formPack {
  background-color: rgba(55, 169, 179, 0.47);
}





/* QUALCOMM SUPPORT */
.QualcommSupport {
  /* background-color: teal; */
  margin: 4em 0;
  margin-top: 5em;
  height: auto;
  width: 100vw;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.iconDetails {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
}

.iconDetails > div {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.qualcomm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
}











/* WAGR IN THE NEWS */
.wagrNews {
  height: 65vh;
  width: 100vw;
  color: white;
  font-size: 40px;
  /* background-color: crimson; */
  border-top: 3px solid #2ab1c3;
  border-bottom: 3px solid #2ab1c3;

  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

.wagrIntheNews{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.wagrIntheNews > div{
  background-color: #2ab1c3;
  padding: 12px;
  font-size: 33px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.reviewBox{
  /* background-color: crimson; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding: 0 4em;
  color: #474949;
}

.newsPapers{
  display: flex;
  flex-wrap: none;
  justify-content: space-between;
  padding-right: 13px;
}

.newsPapers > div{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  position: relative;
}

.newsPapers > div > img{
  z-index: 1;
}







/* WAGR REVIEW */
.wagrReview {
  height: 70vh;
  width: 100vw;
  display: grid;
  padding-top: 2em;
  grid-template-rows: 1fr 1fr;

  /* background-color: darkcyan; */
}

.wagrReviewDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #474949;
}

.wagrReviewImage{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wagrReviewImage > img{
  padding: 0 1em;
  cursor: pointer;
}











/* WAGR VIDEO */
.wagrVideo {
  position: relative;
  height: 90vh;
  width: 100vw;
  background: url("../assets/home/customer.jpg");
  background-size: cover;
}







/* WAGR AVAILABLE NOW */
.wagrAvailable {
  height: 80vh;
  width: 100vw;
  margin-top: 1em;
  padding: 2em;
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
}

.dayBack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.availablePic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.availableNow {
  /* background-color: beige; */
  padding: 1em;
  padding-top: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */
footer {
  position: relative;
  width: 100vw;
  height: 80vh;
  background: url("../assets/home/footer-1.jpg");
  background-size: cover;
}

.footerDiv {
  position: absolute;
  height: 90%;
  width: 100%;
  padding: 1em 0;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 0.7fr 0.2fr;
}

.newsLetter {
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 35px;
  color: white;
}

.Email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Email > input {
  padding: 10px;
  border-radius: 1.2em;
  height: 1.5em;
  width: 25vw;
  text-indent: 1em;
  outline: none;
}

.linksBlock {
  /* background-color: crimson; */
  display: grid;
  grid-template-columns: 1.5fr 0.8fr 1fr 1.8fr;
  grid-template-rows: auto;
}

.linksBlock > div {
  display: grid;
  grid-template-rows: 1fr repeat(0.4fr, 4);
  color: white;
  padding: 10px;
}

.linksBlock > div > a {
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.iconsBlock{
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.iconsBlock > div{
  padding: 1.3vw;
  cursor: pointer;
}

.COMPANY {
  justify-content: flex-end;
}

.INFO {
  justify-content: flex-end;
}

.LINKS {
  justify-content: center;
}

.BLOG {
  justify-content: flex-start;
}













/* RESPONSIVE MOBILE VIEW */
@media only screen and (max-width:760px){
  .hamMenu{
    display: block;
    cursor: pointer;
  }
  #navdet{
    display: none;
  }
  
  
  
  /* LandingPage Div */
  .topContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 0.2fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "dog"
    "topDetails"
    "topArrow";
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .topDetails{
    grid-area: topDetails;
    text-align: center;
    grid-row: 2/3;
  }
  .topContainerHead{
    font-size: 30px;
    font-weight: bold;
  }
  .topContainerDetails{
    padding: 10px 1em;
    font-size: 23px;
  }

  .topImage{
    grid-area: dog;
    grid-column: 1/2;
    width: 100%;
    justify-content: center;
    padding-left: 4vw;
    /* background-color: teal; */
  }
  .topImage > img{
    width: 50vw;
  }

  .topArrow{
    grid-area: topArrow;
  }

  /* BUTTONS */
  .button{
    font-size: 12px;
  }




  /* HOW IT WORKS DIV */
  .workingDiv{
    padding: 2em 0;
    grid-template-rows: 40% 20% 40%;
    height: 60vh;
  }

  .wagrBand > img{
    width: 60vw;
  }

  .wagrBandDetails{
    font-size: 20px;
    padding: 0 2em;
  }

  .wagrBandAnimations > div > img{
    width: 15vw;
  }
  .wagrBandAnimations > div > div{
    font-size: 20px;
    text-align: center;
  }

}