body{
    margin: 0;
    padding: 0;
}



/* NAVBAR */
.navbar{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    background-color: var(--white);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    display: flex;
}

.navbar > div{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    padding: 2em;
    font-size: 17px;
}

.navLogo{
    /* background-color: teal; */
}
.navDetails{
    /* background-color: yellow; */
    flex-direction: row-reverse;
}

.navDetails > a{
    margin: 1em;
    text-decoration: none;
    cursor: pointer;
    color: #888;
}

.button {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #2ab1c3;
    font-size: 17px;
    background:none;
    padding: 12px 35px 12px 35px;
    border: solid #2ab1c3 2px;
    text-decoration: none;
    margin: 2em;
    cursor: pointer;
  }
  
  .button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    color: white;
    border-color: #3cb0fd;
  }






  /* LandingPage Div */
  .topContainer{
    width: 100%;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 60% 40%;
  }

  .topDetails{
      grid-row: 1/2;
      grid-column: 1/2;
      /* background-color: #2ab1c3; */
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .topDetails > div{
      display: grid;
      grid-template-rows: auto auto auto auto;
      grid-template-columns: auto;
      /* background-color: yellow; */

  }

  .topImage{
      grid-row: 1/2;
      grid-column: 2/3;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .topArrow{
      grid-row: 2/3;
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }


 
 /* TOP CONTAINER ITEMS */
  .topContainerHead{
    color: #474949;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    /* background-color: orangered; */
 }
 
 
 .topContainerDetails{
     display: flex;
     justify-content: center;
     align-items: center;
     color: #474949;
     font-size: 25px;
     padding: 1em;
     /* background-color: teal;     */
 }
 
 
 .topContainerButtons{
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color: crimson; */
 }
 .containerBtn{
     margin: 10px;
 }
 .learnMore{
    color: #474949;
    border: solid #474949 2px;
 }
 .buyNow{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    color: white;
    border-color: #3cb0fd;   
 }


 .topContainerPrice{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     font-weight: bold;
     /* background-color: violet; */
 }
 .topContainerPrice > div{
     margin: 10px;
 }
 #price{
    color: #2ab1c3;
 }