


/*TABS*/
.tabs{
    display:flex;
    justify-content: center;
    padding: 10px 0px;
    /* background-color: teal; */
}

.tabs > div{
    border-bottom:3px solid #eeeeee;
    padding:10px 3em;
    
}

.tabs > div > a{
    color: #474949;
    cursor:pointer;
    font-size:16px;
}  

.content{
    min-width: 800px;
    margin:auto;
    height:auto;
    padding: 1.5em 150px;
    font-size:19px;
    color:#4a4a4a;
}

.headLegal{
  display:flex;
  justify-content: center;
  text-align: center;
  font-size:40px;
  padding: 1.5em 0;
  /* background-color: teal; */
}





@media only screen and (max-width:760px){
    .headLegal{
        font-size: 30px;
    }
    .content{
        padding: 1em 0;
        /* background-color: teal; */
        min-width: 70vw;
        padding-left: 10vw;
        font-size: 17px;
        padding-right: 10vw;
    }
    
    .tabs{
        /* background-color: teal; */
        width: 100vw;
        padding: 0;
        padding: 3px 0;
    }
    
    .tabs > div{
        font-size: 4px;
        text-align: center;
        padding: 5px 1em;
    }

    .tabs > div > a{
        font-size: 13px;
    }

}