


/* CONTACT DETAIL */
.contactDetail{
    width: 100vw;
    height: 80vh;
    /* background-color: crimson; */
    display: grid;
    grid-template-rows: 0.7fr 3fr;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 35px;
}

#getTouch{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.contactDetail > div{
    color: #474949;
}


.contactInput{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contactInput > div{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #474949;
    padding-left: 18vw;
    /* background-color: teal; */
}

.detailhead{
    font-size: 28px;
    margin-top: 1em;
}
.detail{
    font-size: 20px;
    /* background-color: crimson; */
    margin: 5px;
}


.contactFields{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 2em;
}

#sent{
    padding-left: 13vw;
}

.contactFields > div{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    /* background-color: crimson; */
    position: absolute;
    left: 2em;
}

.contactFields  input {
    height: 2.3em;
    border-radius: 10px;
    outline: none;
    text-indent: 10px;
    font-size: 15px;
}

.contactFields textarea{
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}


.contactFields button{
    background-color:#fad38a;
    border: 1px solid #fad38a;
    color: #78645b;
}

.topImageDiv > img{
    width: 100vw;
}







/* RESPONSIVE MOBILE VIEW */
@media only screen and (max-width:760px){
    .topImageDiv > img{
        width: 100vw;
    }


    /* CONTACT DETAIL */
    .contactDetail{
        margin-top: -2em;
        height: auto;
        padding: 1em 0;
    }

    #getTouch{
        align-items: center;
    }

    .contactInput{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }

    .contactInput > div{
        padding: 0;
        width: 100vw;
    }

    .adress{
        text-align: center;
    }

    #sent{
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .contactFields > div{
        display: block;
        /* background-color: crimson; */
        left: 0;
        margin: 1em 0;
        padding: 12px 0;
    }

    .contactFields textarea{
        padding: 10px 10px;
        margin-top: 7px;
    }
}