


/* SETUP YOUR WAGR */
.setupWagr{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1.5fr;
    padding-top: 1.5em;
    padding-bottom: 2em;
    /* background-color: crimson; */
    font-family: "BrandonGrotesque-Lit";
    font-size: 39px;
    color: #474949;
}







/* WAGR TECH SPECS */
.wagrTech{
    width: 100vw;
    height: 150vh;
    padding: 3em 0;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    font-family: "BrandonGrotesque-Lit";
}

.wagrDimensions{
    height: 100%;
    width: 80%;
    padding: 1em;
    padding-bottom: 0;
    border-radius: 13px;
    background-color: rgba(42, 177, 195, 0.09);
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: "BrandonGrotesque-Lit";
}




/* WAGR BAND */
.wagrBand{
    width: 100vw;
    height: auto;
    padding: 1em 0;
    background-color: #2ab1c3;
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
}

.dimens-left > div{
    padding-left: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 27px;
    color: #474949;
    font-family: "BrandonGrotesque-Lit";
}

.dimens-right > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    color: #474949;
}

.seeMore{
    color: white;
    /* background-color: crimson; */
}

#seeMore{
    font-size: 25px;
    padding: 4px 3em;
    cursor: pointer;
}