

.cartBody{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 67% 33%;
    overflow: hidden;
}

.cartBody > div{
    position: relative;
}

#sidebar{

}

.rightSide{
    padding: 1em 0;
}

.leftSide{
    padding: 3em 2em;
    padding-bottom: 2em;
    /* background-color: crimson; */
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.details{
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
}

.infoHead{
    padding: 0 2em;
    display: flex
}

.infoHead > div{
    flex-basis: 50%;
    border-bottom: 2px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoHead > div > span{
    cursor: pointer;
}

.infoBody{
    display: flex;
    padding: 0 2em;
    padding-top: 2em;
}

.infoBody > div{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    color: #474949;
    font-size: 17px;
}

.infoBody > div > div{
    margin: 2px;
}



.returnShop{
    color: #2ab1c3;
    font-size: 19px;
    cursor: pointer;
    padding: 0 2em;
    display: flex;
    align-items: center;
}





/* RIGHT SIDE */
.wagrCheckout{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 19px;
    /* background-color: teal; */
}

.wagrCheckout > div{
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    padding: 2em 0;
    width: 19vw;
    padding-top: 10px;
}

.wagrCheckout > div >div{
    display: flex;
    justify-content: space-evenly;
    color: #474949;
    margin: 1px 0;
}

.wagrCheckout > div > div > span{
    flex-basis: 50%;
    display: flex;
}

#Checkout{
    background-color: #fed68d;
    border: 1px solid #fed68d;
    color: #474949;
}

#Checkout:hover{
    background: #fed68d;
    border: 1px solid #fed68d;
    color: #474949;
}

.wagrOffer{
    font-size: 21px;
}

#Next{
    background-color: #2ab1c3;
    color: white;
}